Package: com.artikus.zenx
Name: ZenX
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: It's like a theme, I guess.
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Tweaks
